exportPattern("^[[:alpha:]]+")
importFrom(RCurl, getURL, url.exists, curlPerform, basicTextGatherer)
importFrom(XML, xmlParse, xmlChildren, xmlValue, xpathApply, xmlAttrs, xmlToList)
importFrom(XML, newXMLNode, addChildren, toString.XMLNode) # for `dvBuildMetadata`
S3method(print, dvStudyAtom)
S3method(print, dvUserStudies)
S3method(print, dvStudyStatement)
S3method(print, dvServiceDoc)
